@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500&display=swap');

/* common parts start */
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.c_button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color:#ffffff;
    border: none;
    text-transform: uppercase;
    padding: 15px 30px;
    
}
.c_padding{
    padding-bottom: 100px;
}

/* common parts end */

/* header start */
header{
    padding: 30px 0;
}
.menu ul li a{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    text-transform: uppercase;
    transition: .33s;
}
.menu ul li a:hover{
    font-weight: 700;
    color: #333333;
}

.menu ul li{
    margin-right: 16px;
}
.menu ul li:last-child{
    margin-right: 0;
}

/* header end */

/* banner start */
.banner_img{
    width: 100%;
    height: 70vh;
}
.banner_text {
    position: absolute;
    top: 200px;
    left: 250px;
    color: #ffffff;
    padding-right: 150px;
    
}
.banner_h1{
    margin-bottom: 30px;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.banner_p{
    margin-bottom: 45px;
    line-height: 20px;
}
.banner_button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    padding: 15px 30px;
    
}
.m_arrow{
    margin-left: 20px;
}

.prev_button{
    position: absolute;
    align-items: end;
    bottom: 0;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
    left: 15%;
    text-transform: uppercase;
    opacity: 0.5;
    transition: .33s linear;
}
.prev_button:hover{
    color: #333333;
    
}
.separator{
    position: absolute;
    align-items: end;
    bottom: 0;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
    left: 25%;
    text-transform: uppercase;
}
.b_separator{
    font-weight: 700;
    margin: 0 5px;
}
.next_button{    
    position: absolute;
    align-items: end;
    bottom: 0;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
    left: 21%;
    text-transform: uppercase;
    opacity: 0.5;
    transition: .33 linear;
}
.next_button:hover{
   color: #333333;
    
}

/* banner end */

/* feature start */

.title_h1{
    margin: 30px 0 40px;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}
.subtitle_p{

}
.feature_item{
    margin-top: 100px;
    border: 1px solid #8e8e8e;
    position: relative;
    padding: 50px 20px 20px;
    
    
    
}
.feature_item:hover{
    border: 1px solid #333333;
    
    
    
}
.feature_img{
    position:absolute;
    background-color: #ffffff;
    top: -10%;
    left: 40%;
    
}
.feature_img img{}
.feature_h2{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.hr_divider{
    width: 30%;
    margin: 15px auto;
}
.feature_p{
    margin-bottom: 15px;
}
.feature_button{
    color: #8e8e8e;
    margin-bottom: 0 0 5px;
}
.feature_item:hover .feature_button{
    color: #333333;
    
}
/* feature end */
/* about start */
.about_title_h1{
    margin-top: 0;
}

.about_text_p2{
    margin: 45px 0;
}
.about_button{
    border: 2px solid #333333;
}
/* about end */
/* recent work start */
.work{
    background-color: #f8f8f8;
}
.work_menu{
    margin-top: 50px;
}
.work_menu ul li{
    margin-right: 30px !important;
}
.work_menu ul li:last-child{
    margin-right: 0 !important;
}
.work_menu ul li a{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    text-transform: uppercase;
    transition: .33s;
}
.work_menu ul li a:hover{
    padding: 10px 5px;
    border: 2px solid #8e8e8e;
    font-weight: 700;
    color: #333333;
}
.work_item{
    margin-top: 55px;
    position: relative;
}

.work_img{}
.work_img img{}
.work_plus_img{
    position: absolute;
    top: 34%;
    left: 40%;
    display: none;
    
}
.work_layer{
    width: 100%;
    height: 100%;
    background-color: #8e8e8e;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    

}
.work_text{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    display: none;
    padding: 15px 25px;
   
}
.work_item:hover .work_text{
    display: block;
} 
.work_item:hover .work_plus_img{
    display: block;
}
.work_item:hover .work_layer{
    display: block;
}
.work_text_h2{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.work_text_p{}
/* recent work end */
